{%load static%}


    <div class="icone-nav-lateral">
        <h2><a href="#"></a></h2>
    </div>
    <div class="menu-lateral">
        <ul class="lateral">
            <li class="item-lateral" id="conta"><a href="{% url 'perfil'%}"> Minha Conta</a></li>
            {%if usuario == 'aluno'%}
            <li class="item-lateral" id="pessoa"><a href="{% url 'lista_professores'%}"> Buscar Professor</a></li>
            <li class="item-lateral" id="resultados"><a href="#"> Meus Resultados</a></li>
            <li class="item-lateral" id="testes"><a href="#"> Testes</a></li>
            {%else%}
            <li class="item-lateral" id="pessoa"><a href="#"> Meus Alunos</a></li>
            <li class="item-lateral" id="testes"><a href="#"> Minhas Provas</a></li>
            {%endif%}


        </ul>
    </div>

<script src="{%static 'Assets/js/nav-lateral.js'%}"></script>

