{%load static%}


    <div class="icone-nav-lateral">
        <h2><a href="#"></a></h2>
    </div>
    <div class="menu-lateral">
        <ul class="lateral">
            <li class="item-lateral" id="conta"><a href="{% url 'perfil'%}"> Minha Conta</a></li>
            <li class="item-lateral" id="resultados"><a href="#"> Meus Resultados</a></li>
            <li class="item-lateral" id="testes"><a href="#"> Testes</a></li>
        </ul>
    </div>

<script src="{%static 'Assets/js/nav-lateral.js'%}"></script>

