{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<img src="{%static 'Assets/img/about.png'%}" alt="" srcset="" id="fundo-about">
<div class="about">
    <div class="about-texto">
        <h2>Projeto Educador</h2>
        <p>O projeto Educador é um ambiente virtual de aprendizado voltado para alunos que desejam realizar avaliações na área de Química. O projeto foi desenvolvido como trabalho de conclusão de curso na área de Química Licenciatura, com o objetivo de criar um ambiente que facilite o aprendizado dos alunos e ofereça uma forma prática e eficiente de avaliar seus conhecimentos.</p>
        <p>O Educador conta com diversas avaliações que englobam os principais temas da Química, desde conceitos básicos até os mais avançados. Os alunos poderão acessar o ambiente a qualquer momento e realizar as avaliações de acordo com seu próprio ritmo de estudo.</p>
        <p>Uma das principais vantagens do Educador é a sua capacidade de personalização. O ambiente permite que os alunos escolham as avaliações que desejam realizar, de acordo com suas necessidades e objetivos de aprendizado. Além disso, o sistema também oferece feedback imediato aos alunos, permitindo que eles identifiquem seus pontos fracos e trabalhem em cima deles.</p>
        <p>Outra funcionalidade importante do Educador é o seu banco de questões, que conta com uma grande variedade de questões sobre os mais diversos temas da Química. Isso garante que os alunos tenham acesso a uma grande quantidade de conteúdo e possam se preparar de forma adequada para as avaliações.</p>
        <p>O projeto Educador foi desenvolvido com tecnologias modernas e de fácil acesso, visando oferecer uma experiência intuitiva e de qualidade para os alunos. Ele pode ser acessado de qualquer lugar do mundo, a partir de dispositivos móveis ou computadores pessoais, o que garante a acessibilidade para todos os estudantes.</p>
    </div>
    <div class="about-contato">
        <h2>Quem Somos</h2>
        <p>Desenvolvido por: Natalia dos Santos Gomes</p>
        <p>IFRJ - Instituto Federal do Rio de Janeiro</p>
        <p>Química Licenciatura</p>
        <p>O projeto Educador é um ambiente virtual de aprendizado voltado para estudantes da área de Química. Desenvolvido como trabalho de conclusão de curso na Química Licenciatura no Instituto Federal do Rio de Janeiro (IFRJ), o Educador tem como objetivo oferecer aos alunos uma forma prática e eficiente de avaliar seus conhecimentos na área de Química.</p>
        <p>Com o Educador, os alunos têm acesso a uma ampla variedade de avaliações e questões, que abrangem desde conceitos básicos até temas avançados da Química. Nosso ambiente virtual de aprendizado permite que os estudantes personalizem suas avaliações, de acordo com suas necessidades e objetivos de estudo, e oferece feedback imediato para ajudá-los a identificar seus pontos fortes e fracos.</p>
        <p>Desenvolvido com tecnologias modernas e de fácil acesso, o Educador pode ser acessado de qualquer lugar do mundo, a partir de dispositivos móveis ou computadores pessoais. Isso garante a acessibilidade para todos os estudantes, independente de onde estejam ou qual dispositivo possuem.</p>
        <p>Estou muito animada em compartilhar o projeto Educador com a comunidade de estudantes e professores de Química. Acredito que ele será uma ferramenta valiosa para o sucesso dos alunos e para o avanço da educação na área de Química.</p>
        <p>Se você tiver alguma dúvida ou quiser saber mais sobre o Educador, não hesite em entrar em contato. Estou sempre disponível para responder perguntas e ajudá-lo a aproveitar ao máximo o nosso ambiente de aprendizado.</p>
    </div>

</div>
{% endblock %}