{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div class="about">
    <div class="about-texto">
        <h2>Projeto Educador</h2>
        <p>O projeto Educador é um ambiente virtual de aprendizado voltado para alunos que desejam realizar avaliações na área de Química. O projeto foi desenvolvido como trabalho de conclusão de curso na área de Química Licenciatura, com o objetivo de criar um ambiente que facilite o aprendizado dos alunos e ofereça uma forma prática e eficiente de avaliar seus conhecimentos.</p>
        <p>O Educador conta com diversas avaliações que englobam os principais temas da Química, desde conceitos básicos até os mais avançados. Os alunos poderão acessar o ambiente a qualquer momento e realizar as avaliações de acordo com seu próprio ritmo de estudo.</p>
        <p>Uma das principais vantagens do Educador é a sua capacidade de personalização. O ambiente permite que os alunos escolham as avaliações que desejam realizar, de acordo com suas necessidades e objetivos de aprendizado. Além disso, o sistema também oferece feedback imediato aos alunos, permitindo que eles identifiquem seus pontos fracos e trabalhem em cima deles.</p>
        <p>Outra funcionalidade importante do Educador é o seu banco de questões, que conta com uma grande variedade de questões sobre os mais diversos temas da Química. Isso garante que os alunos tenham acesso a uma grande quantidade de conteúdo e possam se preparar de forma adequada para as avaliações.</p>
        <p>O projeto Educador foi desenvolvido com tecnologias modernas e de fácil acesso, visando oferecer uma experiência intuitiva e de qualidade para os alunos. Ele pode ser acessado de qualquer lugar do mundo, a partir de dispositivos móveis ou computadores pessoais, o que garante a acessibilidade para todos os estudantes.</p>
    </div>
</div>
{% endblock %}