{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div class="principal">
    <div class="direita">
        <h2>Conheça o Educador</h2>
        <p>Seu aplicativo de sala de aula para diversão, envolvimento eficaz e avaliações em tempo real.</p>
    </div>
    <div class="spacer"></div>
    <div class="esquerda">
        <h2>Overview</h2>
        <p>Visualizar a compreensão do aluno nunca foi tão fácil</p>
    </div>
    <div class="spacer"></div>
    <div class="direita">
        <h2>Teste e nota na velocidade do aprendizado</h2>
        <p>O feedback imediato é uma parte vital do processo de aprendizagem. O Socrative oferece exatamente isso para a sala de aula ou escritório - uma maneira eficiente de monitorar e avaliar o aprendizado que economiza tempo para os educadores enquanto oferece interações divertidas e envolventes para os alunos.</p>
    </div>
    <div class="spacer"></div>
    <div class="esquerda">
        <h2>Atividades</h2>
        <p>Envolva seus alunos à medida que o aprendizado acontece com sua escolha do tipo de atividade. Inicie um questionário, receba tickets de saída ou faça uma pergunta rápida para obter feedback instantâneo dos alunos.        </p>
    </div>
</div>
{% endblock %}